<link rel="stylesheet" href="navbar.css">
<div class="container">
    <header class="header-section">
        <div class="nav-section">
            <nav id="navbar" class="row">
                <div class="col">
                    <h3 class="logo">
                        <a href="/index.html">
                            <img src="/assets/lg-img.png" alt="Company Logo"></a>
                        EMPLOYEE DASHBOARD
                    </h3>
                </div>
                <div class="col">
                    <ul>
                        <li><a href="/components/about-us/about.html">About Us</a></li>
                        <li><a href="/components/contact-us/contact.html">Contact Us</a></li>

                        <li><a href="/components/login/index.html">LOGIN</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
</div>