@import url(/styles/index.css);

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.container {
    /* max-width: 800px; */
    margin: 25px auto;
    padding: 20px;
}
form {
    margin-bottom: 30px;
}
/* Input and select styles */
.wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.box {
    flex: 1;
    padding: 5px;
}

input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

input[type="search"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.btn-primary i {
    padding: 6px 6px;
}

/* Radio and checkbox styles */
.wrap-two {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.box-two {
    flex: 1;
    padding: 5px;
}

label {
    display: inline-block;
    margin-right: 10px;
}

/* Button styles */
.btn-two {
    text-align: center;
    margin-top: 20px;
}

input[type="button"],
input[type="reset"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

input[type="button"]:hover,
input[type="reset"]:hover {
    background-color: #0056b3;
}



/* Responsive styles */
@media screen and (max-width: 600px) {

    .wrap,
    .wrap-two {
        flex-direction: column;
    }
}

@media (max-width: 552px) {
    #navbar ul {
        /* flex: none; */
        display: inherit;
    }
}