* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url('./bg2.jpg') no-repeat center fixed;
    background-size: cover;
}

.container {
    margin-top: 5%;
    margin-left: 35%;
   /* border: 1px solid black; */
   width: 40%;
}

.box {
    display: block;
    padding: 10px 10px;
    align-items: center;
    border-bottom: 1px solid grey;
   
}

button {
    padding: 10px 10px;
    justify-content: center;
}

.box input {
    /* border-bottom: 1px solid black; */
    border: transparent;
    padding: 15px;
    background: transparent;
    outline: none;
}